/* universals */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: #333;
   background-image: linear-gradient(#B48EAE, #BAACBD, #C9C5CB, #D7D9D7);
}
/* top header */
.headercontainer {
  display: flex;
  padding: 10px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #D7D9D7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.headercontainer a {
  display: flex;
  flex: 1;
}
.logo {
  align-self: center;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}
.vl {
  border-left: 3px solid black;
  height: 90px;
  left: 50%;
  margin-left: 10px;
  margin-right: 10px;
}
.headercontainer h1 {
  color: black;
  font-family: "Dokdo", sans-serif;
  flex: 3;
  font-size: 25px;
  margin-top: -9px;
  align-items: center;
  word-wrap: nowrap;
}
/* end top header */

/* sticky header */
      /* styling */
      .stickyheadercontainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #B48EAE;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2) inset;
        padding-left: 10px;
      }
      .stickylogo {
        flex: 1;
      }
      .stickylogoimg {
        max-width: 75px;
        width: 100%;
      }
      .stickylogo > a {
        display: flex;
        margin: 0;
        justify-content: center;
      }
    /* links styling */
      .linksli {
        display: flex;
        flex: 7;
        justify-content: center;
        align-items: center;
      }
      .linksli li {
        padding: 2vmax;
        list-style-type: none;
        font-size: 100%;
      }
      .linksli a {
        color: #004e68;
        margin: 0 0px;
        justify-content: space-around;
        flex-shrink: 2;
        align-self: flex-start;
        text-decoration: none;
        border-bottom: 2px solid #45D0ff;
      }
      .linksli a:hover {
        border-bottom: 2px #fff solid;
      }
    /* flex spacer */
      .spacer {
        flex: 1;
        text-align: right;
        margin: 8px;
      }
      /* sticky header js + peripherals */
      /* javascript add sticky class */
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

      /* to prevent sudden jumping */
      .sticky + .panelscontainer {
        padding-top: 10px;
      }
      /* end sticky header peripherals  */
/* end sticky header */

/* page content panels structure only */
.panelscontainer {
  display: flex;
  flex-direction: column;
}
/* end page content panels structure */

/* gallery */
.gallerycontainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
}
.gallery {
  gap: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  row-gap: 2px;
  column-gap: 2px;

}
.gallery img {
  flex-shrink: 1;
  max-width: 45%;
  object-fit: cover;
}

/* about */
.aboutcontainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row;
  padding-top: 50px;
  padding-bottom: 100px;
  justify-content: center;
}
.abtcontent {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  justify-content: center;
  padding: 30px;
}
.badge {
  display: flex;
  flex: 1;
  justify-content: center;
}
.abtcontent img {
  max-width: 200px;
  width: 100%;
  padding: 10px;
  /* flex: 1; */
}
.abtcontent h3, .abtcontent p {
  text-align: center;
  padding: 10px;
}

/* services */
.servicescontainer {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: lime; */
  flex-flow: row wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
}
.servicetitle {
  margin: 0;
  flex: 0 1 100%;
  max-width: 100%;
  text-align: center;
  font-family: "Monsieur La Doulaise", cursive;
  font-size: 1.5em;
}
.servicecards {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  justify-content: space-around;
}
.card {
  padding: 10px;
  margin: 10px;
  min-height: 40vmin;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.card h1 {
    font-family: "Monsieur La Doulaise", cursive;
}
.card p {
  font-size: 13px;
}
/* contact */
.contactcontainer {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  /* background-color: plum; */
  flex-direction: column;
  justify-content: center;
}
.contactcontainer h2 {
  text-align: center;
  font-family: "Dokdo", cursive;
  font-size: 1.5em;
}
.contactcontainer p {
  margin: 30px;
  text-align: center;
}
/* end contact */

/* footer */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #B48EAE;
  color: white;
  text-align: right;
  font-size: 2.3vmin;
}

/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media only screen and (min-width: 600px) /*tablet*/ {
/* top header */
.headercontainer h1 {
    align-self: center;
    font-size: 2.5em;
    text-align: center;
}
.vl {
  border-left: none;
}
/* end top header */
/* sticky header */
.linksli li {
  font-size: 1.2em;
}
/* end sticky header */
/* gallery */
.gallery img {
  flex-shrink: 1;
  max-width: 257px;
  width: 100%;
  object-fit: cover;
}
/* end gallery */
/* services */
.card p {
  font-size: 3vmin;
}
/* end services */

@media only screen and (min-width: 800px) /*desktop*/ {
  /* top header */
  .headercontainer {
    padding: 30px;
  }
  .headercontainer h1 {
      align-self: center;
      font-size: 2.5em;
      text-align: center;
  }
  .headercontainer a {
    display: flex;
    /* width: 100%;
    height: 100%; */
    flex: 1;
    justify-content: center;
  }

  .vl {
    border-left: none;
  }
  .logo {
    align-self: center;
    max-width: 150px;
    margin-left: 10px;
  }
  /* end top header */
  /* make service cards display as a row */
  .servicecards {
    flex-direction: row;
  }
  .card {

  }
  .card h1 {
      font-family: "Monsieur La Doulaise", cursive;
      font-size: 3em;
  }
  .card p {
    font-size: 2vmin;
  }
/* gallery display image resize */
.gallery {
  flex-flow: row nowrap;
  padding: 20px;
}
.gallery img {
  width: 100%;
  max-width: 450px;
}
/* contact text */
.contactcontainer h2 {
  font-size: 4vmin;
}
.contactcontainer p {
  padding: 0 9vmax;
  font-size: 3vmin;
}
/* end contact text */
}
