/* universals */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: "Prompt", sans-serif;
  color: #333;
   background-image: linear-gradient(#8BA7A8, #E2E4E4, #DFE7E7);
}

/* top header */
.headercontainer {
  display: flex;
  padding: 10px;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #596F70;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.headercontainer a {
  display: flex;
  width: 100%;
  height: 100%;
  flex: 1;
}
.logo {
  align-self: center;
  width: 100%;
  height: 100%;
  margin-left: 10px;
}

.vl {
  border-left: 3px solid black;
  height: 90px;
  left: 50%;
  margin-left: 10px;
  margin-right: 10px;
}

.headercontainer h1 {
  flex: 3;
  font-size: 25px;
  width: 50%%;
  height: 100%;
  margin-top: -9px;
  align-items: center;
  word-wrap: nowrap;
}
/* end top header */

/* sticky header */
      /* styling */
      .stickyheadercontainer {
        display: flex;
        background-color: #8BA7A8;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2) inset;
        justify-content: space-around;
        align-items: center;
        flex-direction: row:
      }
      .stickylogo {
        display: flex;
        flex: 1;
        justify-content: center;
      }
      .stickylogoimg {
        width: 100%;
        margin: 8px;
      }
      .stickylogo > a {
        display: flex;
      }
    /* links styling */
      .linksli {
        display: flex;
        flex: 7;
        justify-content: center;
        align-self: center;
        flex-wrap: nowrap;
      }
      .linksli > p {
        font-size: 30vw;
      }
      .linksli li {
        padding: 2vmax;
        color: orange;
        list-style-type: none;
        font-size: 100%;
      }
      .linksli a {
        font-weight: lighter;
        color: #004e68;
        margin: 0 0px;
        justify-content: space-around;
        flex-shrink: 2;
        align-self: flex-start;
        text-decoration: none;
        border-bottom: 2px solid #45D0ff;
      }
      .linksli a:hover {
        border-bottom: 2px #fff solid;
      }
    /* flex spacer */
      .spacer {
        flex: 1;
        text-align: right;
        margin: 8px;
      }
      /* sticky header js + peripherals */
      /* javascript add sticky class */
      .sticky {
        position: fixed;
        top: 0;
        width: 100%;
      }

      /* to prevent sudden jumping */
      .sticky + .panelscontainer {
        padding-top: 10px;
      }
      /* end sticky header peripherals  */
/* end sticky header */

/* page content panels structure only */
      .panelscontainer {
        display: flex;
        flex-direction: column;
      }
/* end page content panels structure */

/* gallery */
.gallerycontainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
}

/* about */
.aboutcontainer {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: darkgray; */
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* .panelpadding {
  height: 100px;
} */
.abtcontent {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 60%;
  margin-bottom: 100px;
  margin-top: 100px;
  /* flex: 1; */
}
.fambizpic {
  margin: 0;
  flex: 2 0 50%;
  max-width: 50%;
}
.familybusiness {
  margin: 0;
  flex: 1 0 50%;
}
.br {
  flex-basis 100%;
  height: 0;
}
.cheese {
  flex: 0 1 100%;
}
/* services */
.servicescontainer {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: lime; */
  flex-flow: row wrap;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
}
.servicetitle {
  margin: 0;
  flex: 0 1 100%;
  max-width: 100%;
  text-align: center;
  font-family: "Monsieur La Doulaise", cursive;
  font-size: 7vmin;
}
.servicecards {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 100%;
  justify-content: space-around;
}
.card {
  /* background-color: snow; */
  padding: 10px;
  margin: 10px;
  min-height: 40vmin;
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.card h1 {
    font-family: "Monsieur La Doulaise", cursive;
}
.card p {
  font-size: 3vmin;
}
/* contact */
.contactcontainer {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: plum; */
  flex-direction: column;
  justify-content: center;
}
.contactcontainer h2 {
  text-align: center;
  font-family: "Dokdo", cursive;
}
.contactcontainer p {
  margin: 30px;
  text-align: justify;
}
/* end contact */

/* footer */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: hsla(0, 100%, 50%, 0.3);;
  color: white;
  text-align: right;
  font-size: 2.3vmin;
}

/* media queries */

@media only screen and (min-width: 600px) /*tablet*/ {
/* make service cards display as a row */
  .servicecards {
    flex-direction: row;
  }
}
