@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Prompt", sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: black;
}

ul {
  list-style-type: none;
  font-family: "Prompt", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  font-family: "Prompt", sans-serif;
}

p {
  margin: 10px 0;
}

img {
  max-width: 90%;
  max-height: 90%;
}

/*variable declaration*/
:root {
  --nav-height: 200px;
}

/* navbar */
.navbar {
  padding: 10px;
  background-color: pink;
  color: #000;
  height: 140px;
  position: sticky; top: 0;
}
.container {
  height: 120px;
  margin: 0 -5px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}
.logo {
  flex-basis: 25%;
  flex-grow: 2;
  margin-right: 15px;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 1;
  flex-wrap: wrap;
}
.bas {
  margin-top: -5px;
  align-self: flex-start;
  white-space: nowrap;
  margin: 0;
}
.nav {
  flex-wrap: nowrap;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  flex-wrap: nowrap;
}
.nav a {
  color: #000;
  padding-right: 10px;
  margin: 0 0px;
  justify-content: space-around;
  flex-shrink: 2;
  align-self: flex-start;
}
.nav a:hover {
  border-bottom: 2px #000 solid;
}

/* .logo {
    align-self: flex-start;
}

.navbar ul {
  display: flex;
  flex-shrink: 3;
  justify-content: space-around;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  justify-content: space-around;
  flex-shrink: 2;
}



.navbar .flex {
  justify-content: space-between;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items:flex-start;
  height: 100%;
} */



/* css for box panels */

.box {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.panel {
  scroll-margin-top: var(--nav-height);
  min-height: 80vh;
  margin: 1px;
  background-color: #D6E1F4;
  display: flex;
  flex-direction: column;
  flex-shrink: 2;
}

@media only screen and (min-width: 600px) /*tablet*/ {
  .panel {
      background-color: #000;
    }
}

@media only screen and (min-width: 1025px) /*desktop*/ {
  .panel {
      background-color: #000034;
    }
}
